@import url('https://fonts.cdnfonts.com/css/viga');

$border-gradient-darker-color-1: #0d5d00;
$border-gradient-darker-color-2: #052500;
$border-gradient-darker: linear-gradient(135deg, $border-gradient-darker-color-1, $border-gradient-darker-color-2);

$border-gradient-lighter-color-1: #149d00;
$border-gradient-lighter-color-2: #118000;
$border-gradient-lighter: linear-gradient(135deg, $border-gradient-lighter-color-1, $border-gradient-lighter-color-2);

$background-gradient-color-1: #127f00;
$background-gradient-color-2: #093f00;
$background-gradient: linear-gradient(135deg, $background-gradient-color-1, $background-gradient-color-2);

$container-opacity: 0.9;

$background-inactive: #0e6400;
$background-active: #0c8000;

$inactive-opacity: 0.5;

$accent-1: #00AF27;
$accent-2: #00c736;
$accent-gradient: linear-gradient(125deg, $accent-1, $accent-2);

$text-color: #fff;
$text-color-darker: rgba(255, 255, 255, 0.47);
$font-family: Viga, sans-serif;

$input-text-color: rgba(255, 255, 255, 0.70);
$input-background: rgba(217, 217, 217, 0.12);
$input-background-active: rgba(217, 217, 217, 0.07);

$title-font-size: 56px;
$text-font-size: 24px;

* {
  font-family: Viga, sans-serif;
}

.text-input {
  @extend .input-border;

  background: $input-background;
  color: $text-color;
  font-size: $text-font-size;
  font-family: $font-family;
  outline: none;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;

  &::placeholder {
    color: $text-color-darker;
  }

  &:focus,
  &:hover {
    background: $input-background-active;
  }
}

.buttonSecondary {
  @extend .button;

  background: #00000040 !important;
}

.button {
  @extend .input-border;

  background: $accent-gradient;
  color: $text-color;
  font-size: $text-font-size;
  font-family: $font-family;
  outline: none;
  padding: 0.6rem 0.9rem;
  cursor: pointer;
  transition: 0.3s ease-in-out filter;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.29) 1px 1px;
  position: relative;

  &:hover {
    filter: brightness(0.93);
  }
}

.input-border {
  border: 0.375rem solid;
  border-image-source: $border-gradient-lighter;
  border-image-slice: 1;
}

.title {
  font-size: $title-font-size;
  font-family: $font-family;
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  text-shadow: black 0.125rem 0.125rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  @extend .title;
}

.globalContainer {
  @extend .container-border;

  background: $background-gradient;
  opacity: $container-opacity;
  position: relative;
  padding: 1.25rem 3.125rem 4.375rem 3.125rem;
  z-index: 5;
  transition: 0.3s ease-in-out all;
}

.container-border {
  border: 1rem solid;
  border-image-source: $border-gradient-darker;
  border-image-slice: 1;
}

.floatingContainerBackground {
  background: #000c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  .floatingContainer {
    @extend .globalContainer;
    opacity: 1;
    height: auto;
    z-index: 25;
    text-align: center;

    button {
      @extend .button;
      margin-top: 1.25rem;
      padding: 0.625rem;
    }

    input {
      @extend .text-input;
    }

    label {
      color: #fffa;
      font-size: $text-font-size;
      font-family: $font-family;
      margin-top: 0.625rem;
      display: block;
      text-align: left;
    }
  }
}

.buttonSelectorBox {
  display: flex;
  justify-content: space-between;

  .selectButton {
    @extend .button;
    transition: background 0.2s;
    margin: 0 0.3125rem;
    flex: 1;
    text-align: center;

    &:not(.active) {
      background: #00000040;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 15px;
    background: $background-inactive;
  }

  &::-webkit-scrollbar-thumb {
    background: $border-gradient-lighter;
  }
}