@import url('https://fonts.cdnfonts.com/css/viga');


$border-gradient-darker-color-1: #0d5d00;
$border-gradient-darker-color-2: #052500;
$border-gradient-darker: linear-gradient(135deg, $border-gradient-darker-color-1, $border-gradient-darker-color-2);


$border-gradient-lighter-color-1: #149d00;
$border-gradient-lighter-color-2: #118000;
$border-gradient-lighter: linear-gradient(135deg, $border-gradient-lighter-color-1, $border-gradient-lighter-color-2);


$background-gradient-color-1: #127f00;
$background-gradient-color-2: #093f00;
$background-gradient: linear-gradient(135deg, $background-gradient-color-1, $background-gradient-color-2);

$container-opacity: 0.9;

$background-inactive: #0e6400;
$background-active: #0c8000;

$inactive-opacity: 0.5;

$accent-1: #00AF27;
$accent-2: #00c736;
$accent-gradient: linear-gradient(125deg, $accent-1, $accent-2);

$text-color: #fff;
$text-color-darker: rgba(255, 255, 255, 0.47);
$font-family: Viga, sans-serif;

$input-text-color: rgba(255, 255, 255, 0.70);
$input-background: rgba(217, 217, 217, 0.12);
$input-background-active: rgba(217, 217, 217, 0.07);

$title-font-size: 56px;
$text-font-size: 24px;

.text-input {
  @extend .input-border;

  background: $input-background;
  color: $text-color;
  font-size: $text-font-size;
  font-family: $font-family;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;

  &::placeholder {
    color: $text-color-darker;
  }

  &:focus,
  &:hover {
    background: $input-background-active;
  }
}

.button {
  @extend .input-border;

  background: $accent-gradient;
  color: $text-color;
  font-size: $text-font-size;
  font-family: $font-family;
  outline: none;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out background;
  width: 100%;
  text-shadow: rgba(0, 0, 0, 0.29) 1px 1px;
  position: relative;

  &:after {
    content: '';
    display: block;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    &:after {
      opacity: 0.09;
    }
  }
}

.input-border {
  border: 6px solid;
  border-image-source: $border-gradient-lighter;
  border-image-slice: 1;
}

.title {
  font-size: $title-font-size;
  font-family: $font-family;
  color: $text-color;
  text-transform: uppercase;
  text-align: center;
  text-shadow: black 2px 2px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  @extend .title;
}

.globalContainer {
  @extend .container-border;

  background: $background-gradient;
  opacity: $container-opacity;
  position: relative;
  padding: 20px 50px 70px 50px;
  z-index: 5;
  transition: 0.3s ease-in-out all;
}

.container-border {
  border: 16px solid;
  border-image-source: $border-gradient-darker;
  border-image-slice: 1;
}