@import 'globals.module';

.navBar {
  display: flex;
  padding: 0 2rem;
  z-index: 10;
  position: absolute;
  top: -5.7rem;
  left: 0;

  .element {
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    margin-right: 0.7rem;

    &.active {
      background-color: $background-active;
      padding: 1rem;
    }

    &:not(.active) {
      background-color: $background-inactive;
      padding: 1rem 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;

      &:hover {
        background-color: $background-active;
      }

      img {
        opacity: $inactive-opacity;
      }
    }

    img {
      width: 2.2rem;
      height: 2.2rem;
      filter: invert(100%);
    }
  }
}