@import "../../style/globals.module";

.container {
  .gadgetBox {
    padding: 0;
    width: calc(50% - 10px);
    height: 70px;
    display: flex;
    margin: 10px;
    font-size: 20px;
    font-family: $font-family;

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;

      .gadgetName {
        background: #00AF2760;
      }
    }


    &:last-child {
      .gadgetIcon {
        padding: 17px;

        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    .gadgetIcon {
      background-color: $accent-1;
      padding: 12px;
      height: 100%;

      img {
        width: 46px;
        height: 46px;
        object-fit: contain;
      }
    }

    .gadgetName {
      border: 6px solid $accent-1;
      border-left: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
    }
  }
}

.gadgetsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .gadget {
    position: relative;
    $border-width: 6px;
    display: flex;
    width: 70px + 2 * $border-width;
    height: 70px + 2 * $border-width;
    transition: border-color 0.3s;

    .deleteIcon {
      position: absolute;
      background-color: #000c;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $border-width solid $background-gradient-color-1;
      box-sizing: content-box;
      margin-left: -1 * $border-width;
      margin-top: -1 * $border-width;
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      img {
        width: 60%;
        filter: invert(1);
      }
    }

    &.selected {
      border: $border-width solid $accent-1;
      background-color: $background-gradient-color-1;
    }

    &:not(.selected) {
      border: $border-width solid $background-gradient-color-1;
      background-color: $background-gradient-color-2;

      &:hover {
        border: $border-width solid $accent-1;
        cursor: pointer;
      }
    }

    .iconGadget {
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ballGadget {
      margin: 10px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-size: contain;
    }

    .paddleGadget {
      margin-left: 5px;
      width: 60px;
      height: 12px;
      margin-top: 29px;
      border-radius: 5px;
      background-size: contain;
    }

    .trailsGadget {
      width: 100%;
      height: 100%;

      .trailBall {
        position: absolute;
        border-radius: 100%;
        opacity: 0.8;

        &:nth-child(1) {
          width: 35px;
          height: 35px;
          top: 10px;
          right: 10px;
        }

        &:nth-child(2) {
          width: 25px;
          height: 25px;
          top: 30px;
          right: 30px;
        }

        &:nth-child(3) {
          width: 15px;
          height: 15px;
          top: 45px;
          right: 45px;
        }
      }
    }
  }
}