@import "../../../style/globals.module";

.gameId {
  margin-top: -40px;
  opacity: 0.6;
  text-align: center;
  font-size: 1.2em;
}

.kickConfirmButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
  }
}

.mapImage {
  text-align: center;
  margin-top: 1rem;

  svg {
    @extend .input-border;
    width: 10rem;
    height: auto;
    cursor: pointer;
    position: relative;

    rect:first-child {
      transition: fill 0.2s;
      &:hover {
        fill: #000000a0;
      }
    }
  }
}

.membersBox {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .memberCard {
    display: flex;
    flex: 1;
    padding: 5px;

    &.empty {
      opacity: .5;
    }


    .kickOverlay {
      transition: opacity 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-active;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.5em;

      &:hover {
        opacity: 1;
      }
    }

    .noMember {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: $background-inactive;
      width: 100%;
      border: 6px solid $accent-1;
    }

    img {
      width: 60px;
      height: 60px;
      border: 6px solid $accent-1;
      background-color: $accent-1;
    }

    .memberInfo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 6px solid $accent-1;
      margin-left: -6px;
      width: 100%;
    }
  }
}