@import "../../style/globals.module";

.container {

  input {
    @extend .text-input;

    margin-bottom: 20px;
  }

  .error {
    margin-top: 8px;
    font-size: 20px;
    text-align: center;
    height: 36px;
  }

  .buttonsBox {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    button {
      @extend .button;

      width: 48%;
      padding: 10px 15px;
    }

    button:last-child {
      background: transparent;
    }
  }
}